# 1.Write a Python program to convert kilometers to miles?

In [4]:
def km_to_mile():
    kilometer = float(input("Enter the Kilometers to covert to miles:"))
    print("{} km is equal to {} miles".format(kilometer,kilometer*0.621))
km_to_mile()

Enter the Kilometers to covert to miles: 10

10.0 km is equal to 6.21 miles

# 2.Write a Python program to convert Celsius to Farenheit ?

In [5]:
def cel_to_far():
    celsius = float(input("Enter the celsius to covert to Farenheit:"))
    print("{} celsius is equal to {} Farenheit".format(celsius,(celsius*9/5)+38))
cel_to_far()

Enter the celsius to covert to Farenheit: 12

12.0 celsius is equal to 59.6 Farenheit

# 3.Write a Python program to display calender ?

In [15]:
import calendar
def calendar_display():
    year = int(input("Enter the year to display calender:"))
    print(calendar.calendar(year))
calendar_display()

Enter the year to display calender: 2022

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

# 4. Write a Python program to solve quadartic equation ?

In [20]:
import math
import cmath
def sol_quadratic(a,b,c):
    discriminant = b*b-4*a*c
    if discriminant == 0:
        r1=(-b+math.sqrt(discriminant))/(2*a)
        r2=(-b-math.sqrt(discriminant))/(2*a)
        print("There is only 1 solutions",r1,r2)
    elif discriminant > 0:
        r1=(-b+math.sqrt(discriminant))/(2*a)
        r2=(-b-math.sqrt(discriminant))/(2*a)
        print("There is 2 real solutions",r1,r2)
    else:
        r1=(-b+cmath.sqrt(discriminant))/(2*a)
        r2=(-b-cmath.sqrt(discriminant))/(2*a)
        print("There is 2 imaginary solutions",r1,r2)
        
a = int(input("Enter the value: "))
b = int(input("Enter the value: "))
c = int(input("Enter the value: "))

sol_quadratic(a,b,c)

Enter the value:  18
Enter the value:  14
Enter the value:  26

There is 2 imaginary solutions (-0.3888888888888889+1.13719386058104j) (-0.3888888888888889-1.13719386058104j)

# 5.Write a Python program to swap two variables without temp variable

In [23]:
n1 = int(input("Enter the number"))
n2 = int(input("Enter the number"))

def swap_num(n1,n2):
    n1 = n1+n2
    n2 = n1-n2
    n1 = n1-n2
    print(f"n1 = {n1} , n2 = {n2}")
    
swap_num(n1,n2)

Enter the number 1
Enter the number 2

n1 = 2 , n2 = 1