# 1.Write a Python program to find sum of elements in list?

In [9]:
def addition():
    n = [2,4,21,3,5]
    add = 0
    for i in n:
        #print(i)
        add = add + i
    return add
addition()

35

# 2.Write a Python program to Multiply all numbers in the list?

In [10]:
def multiply():
    n = [2,4,21,3,5]
    mul = 1
    for i in n:
        #print(i)
        mul = mul * i
    return mul
multiply()

2520

# 3.Write a Python program to find smallest number in a list?

In [17]:
def smallest():
    n = [10,4,6,8,0,3]
    small = 1
    for i in n:
        #print(i)
        if i < small:
            small = i
    return small

In [18]:
smallest()

0

# 4. Write a Python program to find largest number in a list?

In [25]:
def largest():
    n = [10,4,6,8,0,3]
    print("the largest number among list is ",max(n))
largest()

the largest number among list is  10

# 5.Write a Python program to find second largest number in a list?

In [45]:
n = [10,34,23,23,65,74,85]
for i in n :
    #print(i)
    if int(i) < 0:
        large 
        print(max(i))
print(max(n))
print(i)

85
85

# 6.Write a Python Program to find N largest elements in the list ?

In [47]:
n = [10,34,23,23,65,74,85]
N = int(input("Enter the number to find the largest elements:"))
for i in n:
    if i >= N:
        print(f"largest Numbers are {i}")

Enter the number to find the largest elements: 34

largest Numbers are 34
largest Numbers are 65
largest Numbers are 74
largest Numbers are 85

# 7.Write a Python Program to find even numbers in the list ?

In [48]:
n = [10,34,23,23,65,74,85]
for i in n:
    if i % 2 == 0:
        print(i)

10
34
74

# 8.Write a Python Program to find odd numbers in the list ?

In [49]:
n = [10,34,23,23,65,74,85]
for i in n:
    if i % 2 != 0:
        print(i)

23
23
65
85

# 9.Write a Python Program to remove empty list from list ?

In [84]:
n = [10,34,23,23,65,74,85,[]]
n.remove([])
print(n)

[10, 34, 23, 23, 65, 74, 85]

# 10.Write a Python Program to Cloning or Copying a list ?

In [74]:
n = [10,34,23,23,65,74,85]
clone_n=n.copy()
print(f"the clone list is {clone_n}")

the clone list is [10, 34, 23, 23, 65, 74, 85]

# 11.Write a Python Program to count occurences of an element in a list ?

In [81]:
n = [10,34,23,23,65,74,85,10,74,85,85]
for i in n:
    if n.count(i)>1:
        print(f"{i} is repeated {n.count(i)} times")

10 is repeated 2 times
23 is repeated 2 times
23 is repeated 2 times
74 is repeated 2 times
85 is repeated 3 times
10 is repeated 2 times
74 is repeated 2 times
85 is repeated 3 times
85 is repeated 3 times